.container{
  margin: 30px 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
button{
  width: 150px;
}
input{
  width: 200px;
}
h1, h2, h3, h4, p{
  font-weight: var(--strong);
}
