<div class="container">
  <button class="button-primary">
    <h3>Cadastrar</h3>
  </button>
  <button class="button-secondary">
    <h3>
      Cancelar
    </h3>
  </button>
  <button class="button-warn">
    <h3>
      Cuidado
    </h3>
  </button>
  <button class="button-error">
    <h3>Erro</h3>
  </button>
  <input type="text" placeholder="Default">
  <select name="" id="">
    <option selected>Default</option>
  </select>
  <h1>Logo</h1>
  <h2>Logo</h2>
  <h3>Logo</h3>
  <h4>Logo</h4>
  <p>Logo</p>
</div>
