<div class="container">
  <button class="button-primary">
    <span>Cadastrar</span>
  </button>
  <button class="button-secondary">
    <span>
      Cancelar
    </span>
  </button>
  <button class="button-warn">
    <span>
      Cuidado
    </span>
  </button>
  <button class="button-error">
    <span>Erro</span>
  </button>
  <input type="text" placeholder="Default">
  <select name="" id="">
    <option selected>Default</option>
  </select>
  <h1>Logo</h1>
  <h2>Logo</h2>
  <span>Logo</span>
  <h4>Logo</h4>
  <p>Logo</p>
</div>
